* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;

}

.min-height {
    min-height: 100vh;
}

.bg-color {
    background-color: aquamarine;
}

.grow {

    display: flex;
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.center {
    justify-content: center;
    display: flex;
    align-items: center;
}